# Python virtual environments
pytorchenv/
venv/

# Compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Pytest cache
.pytest_cache/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# IDE files
.vscode/
.idea/

# Operating System files
.DS_Store
Thumbs.db

# Cache directories
cache/
